*{padding: 0;
    margin: 0;
}

.navigation{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
}
.navbar{
    /* width: 100%; */
    /* height: 100%; */
}
.navbar>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;

}
.navbar>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.navbar>ul>li>a:hover{
    color: orange;
}


.menuimg{
    height: 120px;
    width: 100%;
    /* border: 2px solid red; */
    background-image: url("https://www.shutterstock.com/image-photo/image-wooden-table-front-abstract-600nw-634911236.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    text-align: center;
    color: white;
    line-height: 120px;
}
.home_image{
    position: relative;
}
.home_image_inner{
    position: absolute;
    top: 280px;
    width: 100%;
    color: white;
    text-align: center;
    justify-items: center;
}

.home_image_inner>h1{
    font-size: 70px;
}


.home_image_inner>button{
    color: white;
    background-color: orange;
    border: none;
    margin-top: 30PX;
    padding: 5px 20px;
}





.box{
    background-color:#b84c04;

}
.box2{
    border-radius: 10px;
    height: 300px;
    margin: 30px 30px;
    text-align: center;
}
.food_image{
    height: 86%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.box_inner{
    width: 100%;
    background-color: black;
    color: wheat;
    border-radius:0 0 15px 15px;

}






.footer{
       width: 100%;
       height: auto;
       background-color:black;
       color: white;
}
.footer_inner2{
    list-style: none;
}

.img_logo{
    width: 110px;
    height: 100px;
}
.footer_inner{
    text-align: center;
}

.home_image{
    width: 100%;
    height: 400px;
}

.inputfild{
    display: block;
    text-align: center;
    padding: 40px 0;
}

.footer_inner2 a{
    list-style: none;
    color: white;
}

.detail_div{
    margin-top: 3px ;
    margin-left:10px ;
   width:250px ;
   height: 250px;
   border-radius: 70px 30px 60px 70px;
}
